
.brand-size
{
    font-size: 40px;
    font-family :ğ™€ğ™­ğ™–ğ™¢ğ™¥ğ™¡ğ™š;
    color:darkcyan;
}
p{
    font-size: 20px;
    padding:20px;
    border : 1px dashed black;
    margin-top: 200px;
    
}
.btn
{
    margin-left: 180px;
}