
.brand-size
{
    font-size: 40px;
    font-family :𝙀𝙭𝙖𝙢𝙥𝙡𝙚;
    color:darkcyan;
}
p{
    font-size: 20px;
    padding:20px;
    border : 1px dashed black;
    margin-top: 200px;
    
}
.btn
{
    margin-left: 180px;
}