body{
    background-image: url(https://thumbs.dreamstime.com/b/wooden-texture-brown-wood-background-grunge-oak-board-51726440.jpg?w=1200);
}
h1{
    text-align: center;
    color:aqua;
    
}
fieldset{
    
    border: 2px solid white;

}

fieldset>legend{
    border: 2px solid white;
    border-radius:0px 25px 0px 25px ;

    background: linear-gradient(red,white,green);
    padding: 10px 20px;
}
.back{
          
           background: linear-gradient(black,yellow,green); 
          /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8gfCcfzbCAYKocPxGRMKBIG-BcwESezhJ0Q&usqp=CAU); */
          border-radius: 0px 30px 0px 30px;
          /* background-repeat: no-repeat; */
          


        
}
 .color{
    color: aliceblue;
}
.second{
    border-radius: 0px 30px 0px 30px;
    background: linear-gradient(red,yellow);

}
.sec{
    background: linear-gradient(red,green);
}
#top{
    position: relative;
    padding: 10px 20px;
    top: -20px;

}
.all{
    width: 100%;
    color: antiquewhite;
}
.adjest{
    width: 100%;
}
.last{
    background: linear-gradient(yellow,green);
    border-radius: 0px 30px 0px 30px;
}
#fromdate{
            background-color: khaki;
}
#g{
    margin-left: 600px;
    width: 100px;
    border-radius: 0px 15px 0px 15px;
    background: linear-gradient(red,yellow,green);
}
#k{
    width: 100px;
    border-radius: 0px 15px 0px 15px;
    background: linear-gradient(red,yellow,green);
}

