{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
     <title>Document</title>
     <link rel="stylesheet" href="{% static 'css/drink.css' %}">

</head>

<body>
    <h1>The Div Element</h1> 
     <div class="a">
        <h1>This is a heading in a div elelment</h1>
        <h3> this is some text in  a div elment </h3>
     </div>
     <p>this is  somme text outside the div element</p>
     <h1 > a dl element is displayed like this :</h1>
     <h1>coffee</h1>
     <h1 class="l">Black hot drink</h1>
     <h1>Milk</h1>
     <h1 clas="l"> White cold drink</h1>
     <h1>changes the default CSSc setting to see thr effect</h1>
    <div class="d"> Margin 
        <div class="f">Border
            <div class="h">Padding
                <div class="g">Content</div>
            </div>
        </div>
    </div>
    
</body>
</html>