{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/farmerdetails.css' %}">
</head>
<body>
    <header>
        Jspiders Inistituute 
    </header>
    <nav id="a">
        <a href="">Home</a>
        <a href="">Updates</a>
        <a href="">Course</a>
        <a href="">Contect</a>
        <a href="">Gallery</a>

    </nav>

    <aside>
        <h1>Html</h1>
        <h1>Css</h1>
        <h1>java</h1>
        <h1>python</h1>
        <h1>django</h1>
        <h1>java Script</h1>
        <h1>spring boot</h1>
        <h1>Mern</h1>
        <h1>coding class</h1>
        <h1>presentaction classes</h1>
    </aside>
    <h1 id="back">Course Details</h1>
    <section>
    <h1>Html</h1>
    <p >A farmer is a person engaged in agriculture, raising living organisms for food or
        raw materials.[2] The term usually applies to people who do some combination of raising field crops,
         orchards, vineyards, poultry, or other livestock. A farmer might own the farm land or might work as a laborer on land owned by others. In most developed economies, a "farmer" is usually a farm owner (landowner), while employees of the farm are known as farm workers (or farmhands). However, in other older definitions a farmer was a person who promotes or improves the growth of plants, land or crops or raises animals (as livestock or fish) by labor and attention.

       Over half a billion farmers are smallholders, most of whom are in developing countries,
        and who economically support almost two billion people.[3][4] Globally, women constitute
         more than 40% of agricultural employees.[5]</p>

        </section>
        <section>
            <h1>Css</h1>
            <p >A farmer is a person engaged in agriculture, raising living organisms for food or
                raw materials.[2] The term usually applies to people who do some combination of raising field crops,
                 orchards, vineyards, poultry, or other livestock. A farmer might own the farm land or might work as a laborer on land owned by others. In most developed economies, a "farmer" is usually a farm owner (landowner), while employees of the farm are known as farm workers (or farmhands). However, in other older definitions a farmer was a person who promotes or improves the growth of plants, land or crops or raises animals (as livestock or fish) by labor and attention.
        
               Over half a billion farmers are smallholders, most of whom are in developing countries,
                and who economically support almost two billion people.[3][4] Globally, women constitute
                 more than 40% of agricultural employees.[5]</p>
        
                </section>
                <section >
                    <h1>Java Script</h1>
                    <p >A farmer is a person engaged in agriculture, raising living organisms for food or
                        raw materials.[2] The term usually applies to people who do some combination of raising field crops,
                         orchards, vineyards, poultry, or other livestock. A farmer might own the farm land or might work as a laborer on land owned by others. In most developed economies, a "farmer" is usually a farm owner (landowner), while employees of the farm are known as farm workers (or farmhands). However, in other older definitions a farmer was a person who promotes or improves the growth of plants, land or crops or raises animals (as livestock or fish) by labor and attention.
                
                       Over half a billion farmers are smallholders, most of whom are in developing countries,
                        and who economically support almost two billion people.[3][4] Globally, women constitute
                         more than 40% of agricultural employees.[5]</p>
                
                        </section>
                        <section>
                            <h1>Python</h1>
                            <p >A farmer is a person engaged in agriculture, raising living organisms for food or
                                raw materials.[2] The term usually applies to people who do some combination of raising field crops,
                                 orchards, vineyards, poultry, or other livestock. A farmer might own the farm land or might work as a laborer on land owned by others. In most developed economies, a "farmer" is usually a farm owner (landowner), while employees of the farm are known as farm workers (or farmhands). However, in other older definitions a farmer was a person who promotes or improves the growth of plants, land or crops or raises animals (as livestock or fish) by labor and attention.
                        
                               Over half a billion farmers are smallholders, most of whom are in developing countries,
                                and who economically support almost two billion people.[3][4] Globally, women constitute
                                 more than 40% of agricultural employees.[5]</p>
                        
                                </section>
                                <section>
                                    <h1>django</h1>
                                    <p >A farmer is a person engaged in agriculture, raising living organisms for food or
                                        raw materials.[2] The term usually applies to people who do some combination of raising field crops,
                                         orchards, vineyards, poultry, or other livestock. A farmer might own the farm land or might work as a laborer on land owned by others. In most developed economies, a "farmer" is usually a farm owner (landowner), while employees of the farm are known as farm workers (or farmhands). However, in other older definitions a farmer was a person who promotes or improves the growth of plants, land or crops or raises animals (as livestock or fish) by labor and attention.
                                
                                       Over half a billion farmers are smallholders, most of whom are in developing countries,
                                        and who economically support almost two billion people.[3][4] Globally, women constitute
                                         more than 40% of agricultural employees.[5]</p>
                                
                                        </section>
                                        <section id="last">
                                            <h1>Mern</h1>
                                            <p >A farmer is a person engaged in agriculture, raising living organisms for food or
                                                raw materials.[2] The term usually applies to people who do some combination of raising field crops,
                                                 orchards, vineyards, poultry, or other livestock. A farmer might own the farm land or might work as a laborer on land owned by others. In most developed economies, a "farmer" is usually a farm owner (landowner), while employees of the farm are known as farm workers (or farmhands). However, in other older definitions a farmer was a person who promotes or improves the growth of plants, land or crops or raises animals (as livestock or fish) by labor and attention.
                                        
                                             </p>
                                        
                                                </section>

                                                <h4><a href="">jspiders</a>
                                                     <a href="">logout</a>
                                                    </h4>
        
    
    
</body>
</html>