{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
     <link rel="stylesheet" href="{% static 'css/job.css' %}">
</head>
<body>
    <div>
        <h1>Online Job Appliaction</h1>
        <form >
            <fieldset class="back">
                <legend >Personal information</legend>
        <table >
                <tr class="color">
                   <td><lable> First Name</lable></td> 
                    <td><input type="text"></td>
                    <td><lable> Middle <br> Name</lable></td> 
                    <td><input type="text"></td>
                    <td><lable>Last<br>Name</lable></td> 
                    <td><input type="text"></td>
                </tr>
                <tr class="color">
                    <td><lable> Father <br> Name</lable></td> 
                     <td><input type="text"></td>
                     <td><lable> Mother<br> Name</lable></td> 
                     <td><input type="text"></td>

                 </tr>
                 <tr class="color">
                   <td><label> Current <br>Address</label></td>
                   <td><textarea  cols="15" rows="3"></textarea></td>
                   <td> <lable>permanent <br> address </lable></td>
                   <td><textarea cols="15" rows="3"></textarea></td>
                 </tr>
                 <tr class="color">
                   <td><lable>Phone number</lable> </td>
                 </tr>
                 <tr class="color">
                    <td><label>Landline <br>numbber</label></td>
                    <td><input type="text"></td>
                    <td><label >Mobile <br> number</label></td>
                    <td><input type="text"></td>
                 </tr>
                 <tr class="color">
                    <td><label>Date of<br> Birth</label></td>
                    <td><input type="text"></td>
                    <td><label >Place Of <br> Birth</label></td>
                    <td><input type="text"></td>
                 </tr>
                 <tr class="color">
                    <td><label for="">Select Gender</label></td>
                    <td><input type="radio" name="r1">Male</input></td>
                    <td><input type="radio" name="r1">Female</input></td>

                 </tr>
                 <tr class="color">
                    <td><label ></label></td>
                 </tr>
                 <tr class="color">
                    <td><label >Highest <br> Qualifaction</label></td>
                    <td><input type="text"></td>
                    <td><label >Year of <br> Passing</label></td>
                    <td><input type="text"></td>
                 </tr>
                 <tr class="color">
                    <td>
                        <label >Language Known</label>
                    </td>
                    <td></td>
                    <td> <input type="checkbox" > Telugu</input></td>
                    
                    <td> <input type="checkbox" > Hindi</input></td>
                 </tr> 
                 <tr class="color">
                    <td>
                        <label> Select Your Hobbies</label>
                    </td>
                    <td></td>
                    <td><input type="checkbox" >Eating</input></td>
                    <td><input type="checkbox" >Coding</input></td>
                 </tr>
                 <tr class="color">
                    <td>
                        <label>About <br> Yourself</label>
                    </td>
                    <td>
                        <textarea name="" id="" cols="15" rows="3"></textarea>
                    </td>
                 </tr>
                 <tr class="color">
                    <td>
                        <label >Nationality</label>
                    </td>
                    <td>
                        <select >
                            <option value="">indian</option>
                            <option value="">American</option>
                            <option value="">Westindis</option>
                            <option value="">London</option>
                        </select>
                    </td>
                 </tr class="color">
                 <tr class="color">
                    <td>
                        <lable>Aadhar card <br> number</lable>

                    </td>
                    <td>
                        <input type="text">
                    </td>
                    <td>
                        <label >PANCARD <br> Number</label>
                    </td>
                    <td><input type="text"></td>
                 </tr>
        </table>
    </fieldset>
    </form>
    </div> 
    <br><br>

                </table>
            </fieldset>
        </form>
    </div>
    <div>
        <form>
            <fieldset class="back">
                <legend>
                    Education
                </legend>
                <table class="adjest">
                    <tr class="color">
                        <td><label for="">Sno</label></td>
                        <td><label for="">Qualification</label></td>
                        <td><label for="">Institute/University</label></td>
                        <td><label for="">Year Of Passing</label></td>
                        <td><label for="">Markes%</label></td>
                    </tr>
                    <tr class="color">
                        <td>
                            <label for="">1</label>
                        </td>
                        <td>
                            <input type="text">
                        </td>
                        <td><input type="text"></td>
                        <td>
                            <input type="month" >
                        </td>
                        <td>
                            <input type="text">
                        </td>
                    </tr>
                    <tr class="color">
                        <td><label >2</label></td>
                        <td><input type="text"></td>
                        
                        <td>
                            <input type="text">
                        </td>
                        <td>
                            <input type="month" >
                        </td>
                        <td>
                            <input type="text">
                        </td>
                    </tr>
                    <tr class="color">
                        <td><label >3</label></td>
                        <td><input type="text"></td>
                        
                        <td>
                            <input type="text">
                        </td>
                        <td>
                            <input type="month" >
                        </td>
                        <td>
                            <input type="text">
                        </td>
                    </tr>
                </table>
            </fieldset>
        </form>
    </div>
    <br><br>
    <div >
        <form >
            <fieldset class="last">
                <legend>
                    Work Experence
                </legend>
                <table class="adjest" >
                    <tr class="color">
                        <td><label for="">Sno</label></td>
                        <td><label for="">Company</label></td>
                        <td><label for=""> Work/Role</label></td>
                        <td><label for="">From Date</label></td>
                        <td><label for=""> To date</label></td>
                    </tr>
                    <tr class="color">
                        <td>
                            <label >1</label>
                            <td>
                               <textarea name="" id="" cols="10" rows="4"></textarea>
                            </td>
                            <td>
                                <textarea name="" id="" cols="10" rows="4"></textarea>
                             </td>
                             <td>
                                <input id="fromdate" type="month">
                             </td>
                             <td><input type="month"></td>
                        </td>
                    </tr>
                    <tr class="color">
                        <td>
                            <label >2</label>
                            <td>
                               <textarea cols="14" rows="4"></textarea>
                            </td>
                            <td>
                                <textarea cols="14" rows="4"></textarea>
                             </td>
                             <td>
                                <input id="fromdate" type="month">
                             </td>
                             <td><input type="month"></td>
                             <tr class="color">
                        <td>
                            <label >3</label>
                            <td>
                               <textarea name="" id="" cols="10" rows="4"></textarea>
                            </td>
                            <td>
                                <textarea name="" id="" cols="10" rows="4"></textarea>
                             </td>
                             <td>
                                <input id="fromdate" type="month">
                             </td>
                             <td><input type="month"></td>
                        </td>
                    </tr>
                        </td>
                    </tr>
                </table>
                
            </fieldset>
        </form>
    </div>
    <br>
    <div>
        <form >
            <fieldset class="last" >
                <legend>
                    Other Details
                </legend>
                <table class="adjest">
                    <tr class="color">
                        <td><label>JobType</label></td>
                        <td><input type="radio" name="l1">Perment</input><td>
                        <td><input type="radio" name="l1">Contract</input></td>
                        <td><input type="radio" name="l1">Other</input></td>
                    </tr>
                    <tr class="color">
                        <td><label >Date Of Joining</label></td>
                        <td><input type="date"></td>
                        <td><label for="">Time Of Joining</label></td>
                        <td><input type="time"></td>
                    </tr>
                    <tr class="color">
                        <td><label for="">pereffered job Location</label></td>
                        <td><input type="radio"name="h1">Hyderbad</input></td>
                        <td><input type="radio"name="h1">Bangalore</input></td>
                        <td><input type="radio"name="h1">Other</input></td>
                    </tr>
                    <tr  class="color">
                        <td><label >Willing to Relocate toHyderbad ?</label></td>
                        <td></td>
                        <td><input type="radio" name="o">yes </input></td>
                        <td><input type="radio" name="o">No</input></td>
                    </tr>   
                    <tr  class="color">
                        <td>
                            <input type="checkbox"> I am here declaring that all above mentional infprmation is true as per my knowaledge.</input>
                        </td>
                    </tr>
                    <tr>
                        <td><button id="g">Submit</button></td>
                        <td ><button id="k">Reset</button></td>
                    </tr>
                </table>
            </fieldset>
        </form>
    </div>
</body>
</html>