{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="{% static 'css/kmcustom.css' %}">
</head>
<body>
    
    <form>
        <h3>KM Custom HTML Form Example Using AppleScript<br>
            (by JMchaeTX)
         </h3>
      <table>
          <tr>
            <td><label>Name :</label></td>
            <td>
                <input type="text">
            </td>
          </tr>
          <tr>
            <td><label>Email :</label></td>
            <td>
                <input type="text">
            </td>
          </tr>
          <tr>
            <td><label>Password :</label></td>
            <td>
                <input type="password">
            </td>
          </tr>
          <tr>
            <td><label>Approval Required :</label><br>
                click on the button or text to check/uncheck
            </td>
            <td>
                <input type="checkbox">Do you approve</input>
            </td>
          </tr>
          <tr>
            <td><label>Pick Your Favorite :</label><br>
                click on the button to select
            </td>
            <td>
                <input type="radio">Choice A<br>
                <input type="radio">Choice B<br>
                <input type="radio">Choice c
                </input>
            </td>
          </tr>
          <tr>
            <td><label>Popup Menu</label></td>
            <td>
                <select>
                    <option>Texas-TX</option>
                </select>
            </td>
          </tr>
          <tr>
            <td><label>List</label><br>
                Setup Options<br>
                <ul>
                    <li>Number of rows to display</li>
                    <li>Allow Multi-Select</li>
                </ul>
            </td>
            <td>
                <select>
                    <option>California--CA</option>
                    <option>Colorado--CO</option>
                    <option>Connecticut--CN</option>
                    <option>Dalifornia--DA</option>
                    <option>Dolorodo--DO</option>
                </select>
            </td>
          </tr>
          <tr>
            <td><label>Field Ignored by KM</label></td>
            <td>
                <input type="text">
            </td>
          </tr>
          <tr>
            <td><label>Text Area</label></td>
            <td>
                <input type="text">
            </td>
          </tr>
    </table>
       <input type="submit" value="Save">
       <input type="submit" value="Cancel">
       <input type="submit" value="Resize">
    </form> 
</body>
</html>