{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>matrimonial</title>
    <link rel="stylesheet" href="{% static 'css/matrimonial.css' %}">

</head>
<body>
    <table border="2px" width="100%">
        <tr>
            <th colspan="6" align="center">
            Matrimonial Website
            </th>

        </tr>
    
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Gender</td>
            <td>Sal</td>
            <td>Height</td>
            <td>Img</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Dinesh</td>
            <td>Male</td>
            <td>4.5lpa</td>
            <td>5.6</td>
            <td><img class="l"  src="{% static 'images/dhoni.jpeg' %}" alt="image notfound"></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Haresh</td>
            <td>Male</td>
            <td>4.5lpa</td>
            <td>5.8</td>
            <td><img class="l"  src="{% static 'images/dhanush.jpg' %}" alt="image notfound"></td>
        </tr>
       
    <td>3</td>
        <td>deepthi</td>
        <td>Female</td>
        <td>5.0lpa</td>
        <td>5.8</td>
        <td><img class="l"  src="{% static 'images/virat.jpeg' %}" alt="image notfound"></td>
    </tr>
    </tr>

    </table>
    
</body>
</html>